# Virtual environments
.venv/
venv/
ENV/
env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Jupyter notebook checkpoints (keep notebooks!)
.ipynb_checkpoints/

# System/editor files
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs and temporary
*.log
*.tmp
*.bak

documents.jsonl
queries.txt
qrels.txt
results*

# Model or embedding files
*.bin
*.pt
*.h5
*.npy
*.pkl

# FAISS indexes
*.index

# Evaluation and result outputs
*.trec
*.eval
*.results

# Generated reports
*.pdf

Part2.ipynb
docs_preprocessed.csv
documents_with_index.csv